node-red/thermocouple-ncd-dashboard.json
[{"id":"d92008bca04eb11f","type":"subflow","name":"Thrmocouple ","info":"","category":"NCD","in":[{"x":1360,"y":1180,"wires":[{"id":"f3d5a1a28d78e139"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"@flowfuse/node-red-dashboard/ui-gauge.svg","status":{"x":3020,"y":1100,"wires":[{"id":"6495d6dc235a5764","port":0},{"id":"5f839f60667ce114","port":0},{"id":"4ca34d69eb9df267","port":0}]}},{"id":"5f8f21bdd4c107d7","type":"function","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":4700,"y":440,"wires":[["2cd5bf9b08b9a526"]]},{"id":"c59a870d62b55e53","type":"http response","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","statusCode":"","headers":{},"x":4990,"y":440,"wires":[]},{"id":"2cd5bf9b08b9a526","type":"file in","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4860,"y":440,"wires":[["c59a870d62b55e53"]]},{"id":"b2ce40774b6cb6b7","type":"catch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","scope":["2cd5bf9b08b9a526"],"uncaught":false,"x":4550,"y":500,"wires":[["2a6a72e2a7132084","de08a066b0e3d7da","cb72e8deb2c2c4c3"]]},{"id":"c695d84d0418bc90","type":"http in","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":4070,"y":440,"wires":[["7f491d0477a81e79","3dc70aa13e1375a2"]]},{"id":"5b6e63aa140289b9","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"thDateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":4530,"y":440,"wires":[["5f8f21bdd4c107d7"]]},{"id":"7f491d0477a81e79","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4195,"y":420,"wires":[["e063f3e5c5f74c4d"]],"l":false},{"id":"3dc70aa13e1375a2","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":4195,"y":460,"wires":[["4b6473999e286c92"]],"l":false},{"id":"e063f3e5c5f74c4d","type":"switch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4245,"y":420,"wires":[["687cbe034e41796d"]],"l":false},{"id":"4b6473999e286c92","type":"switch","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":4245,"y":460,"wires":[["eade5c94e5f98725"]],"l":false},{"id":"687cbe034e41796d","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"thmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4360,"y":420,"wires":[["5b6e63aa140289b9"]]},{"id":"c8316edf37425bec","type":"ui-notification","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":4960,"y":480,"wires":[]},{"id":"2a6a72e2a7132084","type":"function","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"error message","func":"var error = \"Error: no such file or directory\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4720,"y":480,"wires":[["e6d4c58dc9025629"]]},{"id":"e6d4c58dc9025629","type":"trigger","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4835,"y":480,"wires":[["c8316edf37425bec"]],"l":false},{"id":"eade5c94e5f98725","type":"change","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"thmacSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4360,"y":460,"wires":[["5b6e63aa140289b9"]]},{"id":"de08a066b0e3d7da","type":"http response","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"thRedirecting","statusCode":"302","headers":{"location":"/dashboard/thermocouple"},"x":4710,"y":520,"wires":[]},{"id":"cb72e8deb2c2c4c3","type":"trigger","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4655,"y":560,"wires":[["7cea99bdffc9c49f"]],"l":false},{"id":"7cea99bdffc9c49f","type":"link out","z":"d92008bca04eb11f","g":"b4db2ca48dd65b46","name":"link out 109","mode":"link","links":["c943de803dd8c936"],"x":4715,"y":560,"wires":[]},{"id":"b759caeb85e368b7","type":"ui-text-input","z":"d92008bca04eb11f","g":"460953dc96060b48","group":"1a451c44f1097eb8","name":"thDatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"thDatePicker","x":4650,"y":320,"wires":[["761dc5f24506fb85"]]},{"id":"7ebdb792f318a5dc","type":"ui-template","z":"d92008bca04eb11f","g":"460953dc96060b48","group":"1a451c44f1097eb8","page":"","ui":"","name":"thDownload","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-thermocouple.csv\">\n        <v-btn class=\"thButtonDownload\" color=\"#fb7936\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.thButtonDownload{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":5070,"y":320,"wires":[[]]},{"id":"761dc5f24506fb85","type":"change","z":"d92008bca04eb11f","g":"460953dc96060b48","name":"","rules":[{"t":"set","p":"thDateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4860,"y":320,"wires":[[]]},{"id":"c8b7ded7a40d8c6a","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"3d3771463d89fbb8","ui":"","name":"thStyle","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #131313 !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  35px !important;\n    background-color: #242424 !important;\n    border-color: #242424  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #242424 !important;\n    border-color: #242424 ;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #242424 !important;\n    border-color: #242424;\n}\n.thGroupSelectMac .bg-group-background {\n    background-color: #242424 !important;\n    border-color: #242424 !important;\n}\n.thGroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.thGroupSelectMac .v-card{\n    height: 92px !important;\n}\n.thGroupDownload .bg-group-background {\n    background-color: #242424 !important;\n    border-color: #242424 !important;\n}\n.thGroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.thGroupDownload .v-card{\n    height: 155px !important;\n}\n.thInspectGroup .v-card{\n    height: 1077px !important;\n}\n.th1ChTempChart .v-card{\n    height: 785px !important;\n}\n.thBattGroups .v-card{\n    height: 280px !important;\n}\n.thGauges .v-card{\n    height: 785px !important;\n}\n.thDatePicker{\n    top: 12px;\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.thTitlesText .nrdb-ui-text-label{\n    position: absolute;\n    top:-2px !important;\n    font-size: 25px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.thTitlesTextF .nrdb-ui-text-label{\n    position: absolute;\n    top: 410px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.thTitlesTextC .nrdb-ui-text-label{\n    position: absolute;\n    top: 0px !important;\n    font-size: 28px !important;\n    font-weight: bold;\n    color: #999999;\n}\n.th1ChMainChart {\n    position: relative !important;\n    top: -70px !important;\n    height: 765px !important;\n}\n.thBatteryChart{\n    position: relative !important;\n    top: -70px !important;\n    height: 270px !important;\n}\n.th2ChMainCharts{\n    position: relative !important;\n    top: -65px;\n}\n.th3ChMainCharts{\n    position: relative !important;\n    top: -75px !important;\n    height: 250px !important;\n}\n.th2ChTempGroups .v-card{\n    height: 386.5px !important;\n}\n.th3ChTempGroups .v-card{\n    height: 253.7px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"4e4e4e","x":4950,"y":220,"wires":[[]]},{"id":"21c65f58ea6913ee","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"3d3771463d89fbb8","ui":"","name":"thLogo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"thlogo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.thlogo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4810,"y":220,"wires":[[]]},{"id":"275482dadd9e548d","type":"ui-template","z":"d92008bca04eb11f","g":"56527be957791d6c","group":"","page":"3d3771463d89fbb8","ui":"","name":"thProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-wireless-thermocouple-high-temperature-sensor/\" target=\"_blank\">\n        <v-btn class=\"thInfoButton\" color=\"#fb7936\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.thInfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4650,"y":220,"wires":[[]]},{"id":"ab30a761b0172a03","type":"function","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"thInspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\nlet type = flow.get(\"thtype\");\nif(!toggle) /* First time */\n{\n    flow.set(\"thInspect\", true);\n    unit = {\n        groups: \n        { \n            show: [\n                \"ncd-thermocouple:thInspect1\",\n                \"ncd-thermocouple:thInspect2\",\n                \"ncd-thermocouple:thInspect3\"\n                ],\n            hide: \n            [\n                \"ncd-thermocouple:th1ChTempGauge\",\n                \"ncd-thermocouple:th1ChTempChart\",\n                \"ncd-thermocouple:th2ChTempGauge1\",\n                \"ncd-thermocouple:th2ChTempChart1\",\n                \"ncd-thermocouple:th2ChTempGauge2\",\n                \"ncd-thermocouple:th2ChTempChart2\",\n                \"ncd-thermocouple:th3ChTempGauge1\",\n                \"ncd-thermocouple:th3ChTempChart1\",\n                \"ncd-thermocouple:th3ChTempGauge2\",\n                \"ncd-thermocouple:th3ChTempChart2\",\n                \"ncd-thermocouple:th3ChTempGauge3\",\n                \"ncd-thermocouple:th3ChTempChart3\",\n                \"ncd-thermocouple:thBatteryGauge\",\n                \"ncd-thermocouple:thBatteryChart\"\n            ],\n            disable: \n            [\n                \"ncd-thermocouple:thSelectMac\",\n                \"ncd-thermocouple:thDownload\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"thInspect\", false);\n    if(type == 23)\n    {\n        unit = {\n            groups: \n            { \n                hide: \n                [\n                    \"ncd-thermocouple:thInspect1\",\n                    \"ncd-thermocouple:thInspect2\",\n                    \"ncd-thermocouple:thInspect3\",\n                    \"ncd-thermocouple:th1ChTempGauge\",\n                    \"ncd-thermocouple:th1ChTempChart\",\n                    \"ncd-thermocouple:th3ChTempGauge1\",\n                    \"ncd-thermocouple:th3ChTempChart1\",\n                    \"ncd-thermocouple:th3ChTempGauge2\",\n                    \"ncd-thermocouple:th3ChTempChart2\",\n                    \"ncd-thermocouple:th3ChTempGauge3\",\n                    \"ncd-thermocouple:th3ChTempChart3\"\n                ],\n                show: [\n\n                    \"ncd-thermocouple:thBatteryGauge\",\n                    \"ncd-thermocouple:thBatteryChart\",            \n                    \"ncd-thermocouple:th2ChTempGauge1\",\n                    \"ncd-thermocouple:th2ChTempChart1\",\n                    \"ncd-thermocouple:th2ChTempGauge2\",\n                    \"ncd-thermocouple:th2ChTempChart2\"\n                ],\n                enable : \n                [\n                    \"ncd-thermocouple:thSelectMac\",\n                    \"ncd-thermocouple:thDownload\"\n                ]\n            } \n        }\n    }\n    if(type == 4)\n    {\n        unit = {\n            groups: \n            { \n                hide: \n                [\n                    \"ncd-thermocouple:thInspect1\",\n                    \"ncd-thermocouple:thInspect2\",\n                    \"ncd-thermocouple:thInspect3\",\n                    \"ncd-thermocouple:th2ChTempGauge1\",\n                    \"ncd-thermocouple:th2ChTempChart1\",\n                    \"ncd-thermocouple:th2ChTempGauge2\",\n                    \"ncd-thermocouple:th2ChTempChart2\",\n                    \"ncd-thermocouple:th3ChTempGauge1\",\n                    \"ncd-thermocouple:th3ChTempChart1\",\n                    \"ncd-thermocouple:th3ChTempGauge2\",\n                    \"ncd-thermocouple:th3ChTempChart2\",\n                    \"ncd-thermocouple:th3ChTempGauge3\",\n                    \"ncd-thermocouple:th3ChTempChart3\"\n                ],\n                show: [\n                    \"ncd-thermocouple:th1ChTempGauge\",\n                    \"ncd-thermocouple:th1ChTempChart\",\n                    \"ncd-thermocouple:thBatteryGauge\",\n                    \"ncd-thermocouple:thBatteryChart\"\n                ],\n                enable : \n                [\n                    \"ncd-thermocouple:thSelectMac\",\n                    \"ncd-thermocouple:thDownload\"\n                ]\n            } \n        }\n    }\n    if (type == 12) {\n        unit = {\n            groups:\n            {\n                hide:\n                    [\n                        \"ncd-thermocouple:thInspect1\",\n                        \"ncd-thermocouple:thInspect2\",\n                        \"ncd-thermocouple:thInspect3\",\n                        \"ncd-thermocouple:th2ChTempGauge1\",\n                        \"ncd-thermocouple:th2ChTempChart1\",\n                        \"ncd-thermocouple:th2ChTempGauge2\",\n                        \"ncd-thermocouple:th2ChTempChart2\",\n                        \"ncd-thermocouple:th1ChTempGauge\",\n                        \"ncd-thermocouple:th1ChTempChart\"\n\n                    ],\n                show: [\n                        \"ncd-thermocouple:th3ChTempGauge1\",\n                        \"ncd-thermocouple:th3ChTempChart1\",\n                        \"ncd-thermocouple:th3ChTempGauge2\",\n                        \"ncd-thermocouple:th3ChTempChart2\",\n                        \"ncd-thermocouple:th3ChTempGauge3\",\n                        \"ncd-thermocouple:th3ChTempChart3\",\n                        \"ncd-thermocouple:thBatteryGauge\",\n                        \"ncd-thermocouple:thBatteryChart\"\n                ],\n                enable:\n                    [\n                        \"ncd-thermocouple:thSelectMac\",\n                        \"ncd-thermocouple:thDownload\"\n                    ]\n            }\n        }\n    }\n\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4270,"y":200,"wires":[["9608ca02881b8d2f"]]},{"id":"c112b1eb314ec8fb","type":"ui-template","z":"d92008bca04eb11f","g":"5edd2213c8316624","group":"","page":"3d3771463d89fbb8","ui":"","name":"thInspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"thInspectButton\" @click=\"send({payload:true})\" color=\"#fb7936\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.thInspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4080,"y":200,"wires":[["ab30a761b0172a03"]]},{"id":"9608ca02881b8d2f","type":"ui-control","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"","ui":"ec459411017ddf37","events":"change","x":4440,"y":240,"wires":[[]]},{"id":"92d8677b5e6fa1bf","type":"function","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"thInitShow","func":"let type = flow.get(\"thtype\") || 4;\nlet unit = {};\nif(type == 23)\n{\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-thermocouple:thInspect1\",\n                \"ncd-thermocouple:thInspect2\",\n                \"ncd-thermocouple:thInspect3\",\n                \"ncd-thermocouple:th1ChTempGauge\",\n                \"ncd-thermocouple:th1ChTempChart\",\n                \"ncd-thermocouple:th3ChTempGauge1\",\n                \"ncd-thermocouple:th3ChTempChart1\",\n                \"ncd-thermocouple:th3ChTempGauge2\",\n                \"ncd-thermocouple:th3ChTempChart2\",\n                \"ncd-thermocouple:th3ChTempGauge3\",\n                \"ncd-thermocouple:th3ChTempChart3\"\n            ],\n            show: [\n\n                \"ncd-thermocouple:thBatteryGauge\",\n                \"ncd-thermocouple:thBatteryChart\",            \n                \"ncd-thermocouple:th2ChTempGauge1\",\n                \"ncd-thermocouple:th2ChTempChart1\",\n                \"ncd-thermocouple:th2ChTempGauge2\",\n                \"ncd-thermocouple:th2ChTempChart2\"\n            ],\n            enable : \n            [\n                \"ncd-thermocouple:thSelectMac\",\n                \"ncd-thermocouple:thDownload\"\n            ]\n        } \n    }\n}\nif (type == 12) {\n    unit = {\n        groups:\n        {\n            hide:\n                [\n                    \"ncd-thermocouple:thInspect1\",\n                    \"ncd-thermocouple:thInspect2\",\n                    \"ncd-thermocouple:thInspect3\",\n                    \"ncd-thermocouple:th2ChTempGauge1\",\n                    \"ncd-thermocouple:th2ChTempChart1\",\n                    \"ncd-thermocouple:th2ChTempGauge2\",\n                    \"ncd-thermocouple:th2ChTempChart2\",\n                    \"ncd-thermocouple:th1ChTempGauge\",\n                    \"ncd-thermocouple:th1ChTempChart\"\n\n                ],\n            show: [\n                    \"ncd-thermocouple:th3ChTempGauge1\",\n                    \"ncd-thermocouple:th3ChTempChart1\",\n                    \"ncd-thermocouple:th3ChTempGauge2\",\n                    \"ncd-thermocouple:th3ChTempChart2\",\n                    \"ncd-thermocouple:th3ChTempGauge3\",\n                    \"ncd-thermocouple:th3ChTempChart3\",\n                    \"ncd-thermocouple:thBatteryGauge\",\n                    \"ncd-thermocouple:thBatteryChart\"\n            ],\n            enable:\n                [\n                    \"ncd-thermocouple:thSelectMac\",\n                    \"ncd-thermocouple:thDownload\"\n                ]\n        }\n    }\n}\nif(type == 4)\n{\n    unit = {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-thermocouple:thInspect1\",\n                \"ncd-thermocouple:thInspect2\",\n                \"ncd-thermocouple:thInspect3\",\n                \"ncd-thermocouple:th2ChTempGauge1\",\n                \"ncd-thermocouple:th2ChTempChart1\",\n                \"ncd-thermocouple:th2ChTempGauge2\",\n                \"ncd-thermocouple:th2ChTempChart2\",\n                \"ncd-thermocouple:th3ChTempGauge1\",\n                \"ncd-thermocouple:th3ChTempChart1\",\n                \"ncd-thermocouple:th3ChTempGauge2\",\n                \"ncd-thermocouple:th3ChTempChart2\",\n                \"ncd-thermocouple:th3ChTempGauge3\",\n                \"ncd-thermocouple:th3ChTempChart3\"\n            ],\n            show: [\n                \"ncd-thermocouple:th1ChTempGauge\",\n                \"ncd-thermocouple:th1ChTempChart\",\n                \"ncd-thermocouple:thBatteryGauge\",\n                \"ncd-thermocouple:thBatteryChart\"\n            ],\n            enable : \n            [\n                \"ncd-thermocouple:thSelectMac\",\n                \"ncd-thermocouple:thDownload\"\n            ]\n        } \n    }\n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4290,"y":280,"wires":[["9608ca02881b8d2f"]]},{"id":"d0a9cb2be1138c62","type":"ui-event","z":"d92008bca04eb11f","g":"5edd2213c8316624","ui":"ec459411017ddf37","name":"","x":4110,"y":240,"wires":[["92d8677b5e6fa1bf"]]},{"id":"e1c7b07bc094accc","type":"inject","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":4105,"y":320,"wires":[["40e074ab323d7e23"]],"l":false},{"id":"40e074ab323d7e23","type":"change","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"deleteFlowVar","rules":[{"t":"delete","p":"thMAC","pt":"flow"},{"t":"delete","p":"thmacSelection","pt":"flow"},{"t":"delete","p":"thDateDownloadFile","pt":"flow"},{"t":"delete","p":"thNumSelectedMAC","pt":"flow"},{"t":"delete","p":"thInspect","pt":"flow"},{"t":"delete","p":"thcountMAC","pt":"flow"},{"t":"delete","p":"thtype","pt":"flow"},{"t":"delete","p":"thflagType","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4165,"y":320,"wires":[["92d8677b5e6fa1bf","c0cf694846b29bca"]],"icon":"font-awesome/fa-remove","l":false},{"id":"c0cf694846b29bca","type":"link out","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link out 114","mode":"link","links":["d8edbbd6987378fe","b1e9ecc59eb07574","8dbec8e5511de9bc","826b7883d146eea9","2254d5bf18f597ee","803287ecc16e57dd","f4c3ba3c6fe062df","a01f2aedd38588f3","a7e2bb9fa3862e35","ec56779f298093d0","6aa618388045377d","afcdc7ad05f5da2d","a4d34e20ee3e019b","e9c8444ab11a41dd"],"x":4235,"y":320,"wires":[]},{"id":"4b42b1cd24ee889b","type":"link in","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link in 172","links":["e0f72538f15e12b2"],"x":4325,"y":240,"wires":[["9608ca02881b8d2f"]]},{"id":"c943de803dd8c936","type":"link in","z":"d92008bca04eb11f","g":"5edd2213c8316624","name":"link in 173","links":["7cea99bdffc9c49f"],"x":4165,"y":280,"wires":[["92d8677b5e6fa1bf"]]},{"id":"427f72e713f3b422","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1540,"wires":[["9009862a681da4da"]],"l":false},{"id":"af91089fe91a2ba8","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 174","links":["cc0226f553298130","6fd47adcde483659"],"x":4015,"y":1720,"wires":[["427f72e713f3b422","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b"]]},{"id":"24926e799e831a6f","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1580,"wires":[["558b0819339188d9"]],"l":false},{"id":"ad1b24b6d5b89e26","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1620,"wires":[["cfb62fea9d3beaaa"]],"l":false},{"id":"6d3ac2b8bfa50483","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1660,"wires":[["d876eaa7ca6cc284"]],"l":false},{"id":"3afd62ed94821fad","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1700,"wires":[["25408472b5c31603"]],"l":false},{"id":"6bbc39e1fa1e41ad","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1740,"wires":[["4812c0f09de79d4e"]],"l":false},{"id":"e655b63146ca066c","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1780,"wires":[["389579aed0ef99ba"]],"l":false},{"id":"d2dac8e7084f234b","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1820,"wires":[["25b521a73bd50eed"]],"l":false},{"id":"6d132fc44a9ffe66","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1860,"wires":[["a777479cea61d4fd"]],"l":false},{"id":"219e15c4e6aad59b","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4105,"y":1900,"wires":[["383856288292108d"]],"l":false},{"id":"720cf7c9c6219e97","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 175","links":["cc0226f553298130","6fd47adcde483659"],"x":4375,"y":1540,"wires":[["7b49b4220b9f5388","3c592136c54d19a6","332a1fd8f87d6a0e"]]},{"id":"2c8347459d2255d0","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1540,"wires":[["b8fb2bde2d8848e6"]],"l":false},{"id":"c6cbc1e19a4e5930","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1620,"wires":[["608248cda8aa4d6e"]],"l":false},{"id":"0b9860878e605c21","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1660,"wires":[["210e7435eaee1386"]],"l":false},{"id":"2eb03f0fadf75b41","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1700,"wires":[["b228a2b88a9bed5e"]],"l":false},{"id":"d6b4c5b36a577a03","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1740,"wires":[["ac4da71d37717c93"]],"l":false},{"id":"cb55e94626a51bd1","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1780,"wires":[["ebcdda15bbcd51b8"]],"l":false},{"id":"f90425dd1fa04045","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1860,"wires":[["471333df010b4039"]],"l":false},{"id":"a93cb5a17e7ad136","type":"link in","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"link in 176","links":["cc0226f553298130","6fd47adcde483659"],"x":4675,"y":1740,"wires":[["2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","c23cee37c9ce2750"]]},{"id":"c23cee37c9ce2750","type":"switch","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":4735,"y":1840,"wires":[["bdb2ea5b1fbf7660"],["f90425dd1fa04045"]],"l":false},{"id":"bdb2ea5b1fbf7660","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4785,"y":1820,"wires":[["471333df010b4039"]],"l":false},{"id":"9009862a681da4da","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4200,"y":1540,"wires":[]},{"id":"558b0819339188d9","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4230,"y":1580,"wires":[]},{"id":"cfb62fea9d3beaaa","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4200,"y":1620,"wires":[]},{"id":"d876eaa7ca6cc284","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4210,"y":1660,"wires":[]},{"id":"25408472b5c31603","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4200,"y":1700,"wires":[]},{"id":"4812c0f09de79d4e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4210,"y":1740,"wires":[]},{"id":"389579aed0ef99ba","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4220,"y":1780,"wires":[]},{"id":"25b521a73bd50eed","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4190,"y":1820,"wires":[]},{"id":"a777479cea61d4fd","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4200,"y":1860,"wires":[]},{"id":"383856288292108d","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4200,"y":1900,"wires":[]},{"id":"b690b3c207191c05","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"d264180de1592c68","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4190,"y":1500,"wires":[]},{"id":"ec656663f90b5f07","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"56d399280fade3f3","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4510,"y":1500,"wires":[]},{"id":"38b8d990be0efee6","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4890,"y":1500,"wires":[]},{"id":"b8fb2bde2d8848e6","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4870,"y":1540,"wires":[]},{"id":"0d8b95f3fb58bc88","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4920,"y":1580,"wires":[]},{"id":"608248cda8aa4d6e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4870,"y":1620,"wires":[]},{"id":"210e7435eaee1386","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4880,"y":1660,"wires":[]},{"id":"b228a2b88a9bed5e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4870,"y":1700,"wires":[]},{"id":"ac4da71d37717c93","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4890,"y":1740,"wires":[]},{"id":"ebcdda15bbcd51b8","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4870,"y":1780,"wires":[]},{"id":"471333df010b4039","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4920,"y":1860,"wires":[]},{"id":"010ca20d178749aa","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"72af08f32c651d31","order":9,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4870,"y":1820,"wires":[]},{"id":"7b49b4220b9f5388","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4425,"y":1540,"wires":[["96cceea19ef7d328"]],"l":false},{"id":"96cceea19ef7d328","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"56d399280fade3f3","order":2,"width":"0","height":"0","name":"Temperature Ch1","label":"Temperature Ch1 (°C):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4550,"y":1540,"wires":[]},{"id":"3c592136c54d19a6","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4425,"y":1580,"wires":[["753577e0965b1e3f"]],"l":false},{"id":"753577e0965b1e3f","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"56d399280fade3f3","order":2,"width":"0","height":"0","name":"Temperature Ch2","label":"Temperature Ch2 (°C):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4550,"y":1580,"wires":[]},{"id":"332a1fd8f87d6a0e","type":"change","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4425,"y":1620,"wires":[["cbd3818a658cec0e"]],"l":false},{"id":"cbd3818a658cec0e","type":"ui-text","z":"d92008bca04eb11f","g":"bf82dfbc17e80901","group":"56d399280fade3f3","order":2,"width":"0","height":"0","name":"Temperature Ch3","label":"Temperature Ch3 (°C):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4550,"y":1620,"wires":[]},{"id":"d874c73397e0a7fc","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 158","links":["8187b2bb94b66b5d","4b7963d0742c3114"],"x":4015,"y":700,"wires":[["17e0f1f8858a1668"]]},{"id":"5482d83d4afbbeae","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4625,"y":820,"wires":[["8a36cd182b91b9d2"]],"l":false},{"id":"8a36cd182b91b9d2","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4685,"y":780,"wires":[["617d95d512be2351"]],"l":false},{"id":"f15ad0d7c5ca2802","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 159","links":["e266a4021ebe0794","8187b2bb94b66b5d","f3d1c6bd0ac98589","9b541280800d2ea6"],"x":4575,"y":820,"wires":[["5482d83d4afbbeae"]]},{"id":"7db152f132896984","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"cf5948ef767a6f89","order":1,"width":"0","height":"0","name":"th1ChTemperatureChartText","label":"History Temperature (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":4300,"y":820,"wires":[]},{"id":"f66f90e28763a925","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"7e9fecfd59b8c7fa","name":"thBatteryChart","label":"","order":2,"chartType":"line","category":"Battery","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"3","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#999999","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"4","className":"thBatteryChart","x":4820,"y":700,"wires":[[]]},{"id":"617d95d512be2351","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"6498800242d02d49","page":"","ui":"","name":"vpBatteryPercent","order":3,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"thCircularBatt\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"220\" :width=\"25\" color=\"#999999\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScaleBatt\">\n                {{ msg.scale }}%\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.thCircularBatt{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 27px !important;\n    top: -30px;\n}\n.thScaleBatt{\n    color: #999999;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4830,"y":780,"wires":[[]]},{"id":"edca1f73e574a815","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 160","links":["cc0226f553298130"],"x":4575,"y":660,"wires":[["43a59a5ae9581298"]]},{"id":"43a59a5ae9581298","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":4625,"y":660,"wires":[["12d0fb4c7e34a96a","f66f90e28763a925","617d95d512be2351"]],"l":false},{"id":"9b4e8a77902c2f59","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 161","links":["8187b2bb94b66b5d","45327efd0dbd5541","f3d1c6bd0ac98589","9b541280800d2ea6"],"x":4575,"y":700,"wires":[["f66f90e28763a925"]]},{"id":"8dbec8e5511de9bc","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 162","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":4135,"y":860,"wires":[["5b85f6df5d454f87"]]},{"id":"b1e9ecc59eb07574","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 163","links":["c0cf694846b29bca"],"x":4575,"y":760,"wires":[["8a36cd182b91b9d2","f66f90e28763a925"]]},{"id":"5b85f6df5d454f87","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"cf5948ef767a6f89","name":"th1ChMainChart","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"10","height":"2","className":"th1ChMainChart","x":4260,"y":860,"wires":[[]]},{"id":"193436f9b9a898f0","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"7e9fecfd59b8c7fa","order":1,"width":"10","height":"1","name":"thBatteryChartText","label":"History Battery Percent (%)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":4830,"y":660,"wires":[]},{"id":"d9498b6c07e249f9","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 164","links":["8187b2bb94b66b5d","45327efd0dbd5541"],"x":4095,"y":900,"wires":[["91f7d10b8276b7ec"]]},{"id":"12d0fb4c7e34a96a","type":"link out","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link out 110","mode":"link","links":["8dbec8e5511de9bc","2254d5bf18f597ee","803287ecc16e57dd","afcdc7ad05f5da2d","a4d34e20ee3e019b","e9c8444ab11a41dd"],"x":4715,"y":660,"wires":[]},{"id":"f722f11bafca9bea","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d20f02fddfd04a47","order":1,"width":"2","height":"1","name":"th1ChTemperatureC","label":"Temperature °C","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":4280,"y":660,"wires":[]},{"id":"74a16cee8b6c1968","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"6498800242d02d49","order":1,"width":"2","height":"1","name":"thBatteryGaugeText","label":"Battery","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":4840,"y":740,"wires":[]},{"id":"050a294b2e615586","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d20f02fddfd04a47","page":"","ui":"","name":"th1ChGaugeC","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <v-progress-circular class=\"thGaugeC\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"275\" :width=\"25\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScaleGaugeC\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.thGaugeC{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 0px !important;\n    top: 15px;\n}\n.thScaleGaugeC{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4260,"y":700,"wires":[[]]},{"id":"54397ff1341c46b4","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d20f02fddfd04a47","order":3,"width":"2","height":"1","name":"th1ChTemperatureF","label":"Temperature °F","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextF","x":4280,"y":740,"wires":[]},{"id":"e6a7addf5380739d","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d20f02fddfd04a47","page":"","ui":"","name":"th1ChGaugeF","order":4,"width":"0","height":"0","head":"","format":"<template>\n    <div>\n        <div class=\"thline\"></div>\n    </div>\n    <v-progress-circular class=\"thGaugeTempF\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"275\" :width=\"25\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScaleTempF\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.thGaugeTempF{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 0px !important;\n    top: 55px;\n}\n.thScaleTempF{\n    color: white;\n}\n.thline {\n    position: relative;\n    border-left: 800px solid #131313 ;\n    height: 10px !important;\n    margin-left: -20px;\n    top: -25px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4260,"y":780,"wires":[[]]},{"id":"ec6f59f1014b547e","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4145,"y":700,"wires":[["050a294b2e615586"]],"l":false},{"id":"17e0f1f8858a1668","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4065,"y":700,"wires":[["ec6f59f1014b547e","ab94ad56d51a6c2d"]],"l":false},{"id":"ab94ad56d51a6c2d","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4115,"y":740,"wires":[["02aa5ac24bcd7862"]],"l":false},{"id":"02aa5ac24bcd7862","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4145,"y":780,"wires":[["e6a7addf5380739d"]],"l":false},{"id":"91f7d10b8276b7ec","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 54","func":"let celsius = msg.payload[0].channel_1\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":4145,"y":900,"wires":[["5b85f6df5d454f87"]],"l":false},{"id":"826b7883d146eea9","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 180","links":["c0cf694846b29bca"],"x":4015,"y":760,"wires":[["ec6f59f1014b547e","02aa5ac24bcd7862"]]},{"id":"27ff71ea19e4d98e","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"03a4fc7d9842eac5","order":1,"width":"4","height":"1","name":"th2ChTemperatureC1","label":"Ch1 - Temperature","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":4300,"y":960,"wires":[]},{"id":"b41c7209a6afaaf2","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"1d3f5d3524b41b72","order":1,"width":"4","height":"1","name":"th2ChTemperatureC2","label":"Ch2 - Temperature","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":4740,"y":960,"wires":[]},{"id":"2c946bb4e0a6ca2c","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"03a4fc7d9842eac5","page":"","ui":"","name":"th2ChGaugeC1","order":2,"width":"2","height":"2","head":"","format":"<template>\n    <v-progress-circular class=\"th2ChGaugeC1\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"260\" :width=\"25\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale2ChGaugeC1\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th2ChGaugeC1{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 17px !important;\n    top: 0px;\n}\n.thScale2ChGaugeC1{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4320,"y":1000,"wires":[[]]},{"id":"0166a84fdda0ff33","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"54877e3a31194038","name":"th2ChMainChart1","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"6","className":"th2ChMainCharts","x":5170,"y":1000,"wires":[[]]},{"id":"38bcc22f131dc6f0","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"54877e3a31194038","order":1,"width":"0","height":"0","name":"th2ChTemperatureChartText1","label":"Ch1 - History Temperature (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":5210,"y":960,"wires":[]},{"id":"23c00b60f1aa422f","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"1d3f5d3524b41b72","page":"","ui":"","name":"th2ChGaugeC2","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th2ChGaugeC2\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"260\" :width=\"25\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale2ChGaugeC2\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th2ChGaugeC2{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 17px !important;\n    top: 0px;\n}\n.thScale2ChGaugeC2{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4760,"y":1000,"wires":[[]]},{"id":"7dc511b484dff266","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"590ce7a61d3ecebf","name":"th2ChMainChart2","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"6","className":"th2ChMainCharts","x":5170,"y":1080,"wires":[[]]},{"id":"08886e35bbb31d68","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"590ce7a61d3ecebf","order":1,"width":"0","height":"0","name":"th2ChTemperatureChartText2","label":"Ch2 - History Temperature (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":5210,"y":1040,"wires":[]},{"id":"cb67fbca837e9216","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"03a4fc7d9842eac5","page":"","ui":"","name":"th2ChGaugeC1F","order":2,"width":"2","height":"2","head":"","format":"<template>\n    <v-progress-circular class=\"th2ChGaugeC1F\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"260\" :width=\"25\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale2ChGaugeC1F\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th2ChGaugeC1F{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 17px !important;\n    top: 0px;\n}\n.thScale2ChGaugeC1F{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4310,"y":1080,"wires":[[]]},{"id":"e9e51d9428c37dab","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"1d3f5d3524b41b72","page":"","ui":"","name":"th2ChGaugeC2F","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th2ChGaugeC2F\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"260\" :width=\"25\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale2ChGaugeC2F\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th2ChGaugeC2F{\n    font-size: 45px;\n    font-weight: bold !important;\n    left: 17px !important;\n    top: 0px;\n}\n.thScale2ChGaugeC2F{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4750,"y":1080,"wires":[[]]},{"id":"8959c21dcbcdb113","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 181","links":["45327efd0dbd5541","f3d1c6bd0ac98589"],"x":4995,"y":1000,"wires":[["9227213f01517b13"]]},{"id":"9227213f01517b13","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 55","func":"let celsius = msg.payload[0].channel_1\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":5045,"y":1000,"wires":[["0166a84fdda0ff33"]],"l":false},{"id":"2254d5bf18f597ee","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 182","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":5035,"y":960,"wires":[["0166a84fdda0ff33"]]},{"id":"4516a42cbfb1312f","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 183","links":["45327efd0dbd5541","f3d1c6bd0ac98589"],"x":4995,"y":1080,"wires":[["6be9e8072883f343"]]},{"id":"6be9e8072883f343","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 56","func":"let celsius = msg.payload[0].channel_2\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":5045,"y":1080,"wires":[["7dc511b484dff266"]],"l":false},{"id":"803287ecc16e57dd","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 184","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":5045,"y":1040,"wires":[["7dc511b484dff266"]]},{"id":"6690285103acddf3","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 185","links":["4b7963d0742c3114","f3d1c6bd0ac98589"],"x":4045,"y":1000,"wires":[["0fc494faf29e2790"]]},{"id":"e7e8b3256fe2c029","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4205,"y":1000,"wires":[["2c946bb4e0a6ca2c"]],"l":false},{"id":"0fc494faf29e2790","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4095,"y":1000,"wires":[["e7e8b3256fe2c029","9afd4260e40e2697"]],"l":false},{"id":"9afd4260e40e2697","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4145,"y":1040,"wires":[["3f874cc378d7f41c"]],"l":false},{"id":"3f874cc378d7f41c","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4185,"y":1080,"wires":[["cb67fbca837e9216"]],"l":false},{"id":"f4c3ba3c6fe062df","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 186","links":["c0cf694846b29bca"],"x":4045,"y":1080,"wires":[["e7e8b3256fe2c029","3f874cc378d7f41c"]]},{"id":"b1749dc2a8dc35a7","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 187","links":["4b7963d0742c3114","f3d1c6bd0ac98589"],"x":4495,"y":1000,"wires":[["6f5b2c765f2125ea"]]},{"id":"68ca56b120ec5cd7","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4645,"y":1000,"wires":[["23c00b60f1aa422f"]],"l":false},{"id":"6f5b2c765f2125ea","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4545,"y":1000,"wires":[["68ca56b120ec5cd7","0f408806b90aa506"]],"l":false},{"id":"0f408806b90aa506","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4585,"y":1040,"wires":[["74c6eaab60aecbf2"]],"l":false},{"id":"74c6eaab60aecbf2","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4625,"y":1080,"wires":[["e9e51d9428c37dab"]],"l":false},{"id":"a01f2aedd38588f3","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 188","links":["c0cf694846b29bca"],"x":4495,"y":1080,"wires":[["68ca56b120ec5cd7","74c6eaab60aecbf2"]]},{"id":"88ca098c70f90d47","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d62bed6e5da2e0bc","order":1,"width":"4","height":"1","name":"th3ChTemperatureC1","label":"Channel - 1","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":4300,"y":1240,"wires":[]},{"id":"495dce8f600886eb","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d62bed6e5da2e0bc","page":"","ui":"","name":"th3ChGaugeC1","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC1\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC1\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC1{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 55px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC1{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4320,"y":1280,"wires":[[]]},{"id":"96e0b97cb58b324a","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"d62bed6e5da2e0bc","page":"","ui":"","name":"th3ChGaugeC1F","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC1F\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC1F\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC1F{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 42px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC1F{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4310,"y":1360,"wires":[[]]},{"id":"40f0f4fa02a6e7d5","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 189","links":["4b7963d0742c3114","9b541280800d2ea6"],"x":4035,"y":1280,"wires":[["2b259f7bf2411d7b"]]},{"id":"bccca2711e1a8a20","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4205,"y":1280,"wires":[["495dce8f600886eb"]],"l":false},{"id":"2b259f7bf2411d7b","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_1","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4095,"y":1280,"wires":[["bccca2711e1a8a20","33eededf68e8ecc2"]],"l":false},{"id":"33eededf68e8ecc2","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4135,"y":1320,"wires":[["691f446ca7b9db76"]],"l":false},{"id":"691f446ca7b9db76","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4175,"y":1360,"wires":[["96e0b97cb58b324a"]],"l":false},{"id":"a7e2bb9fa3862e35","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 190","links":["c0cf694846b29bca"],"x":4035,"y":1360,"wires":[["bccca2711e1a8a20","691f446ca7b9db76"]]},{"id":"7ce9565496a7cbca","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"0dd6b5576f832c27","order":1,"width":"4","height":"1","name":"th3ChTemperatureC2","label":"Channel - 2","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":4740,"y":1240,"wires":[]},{"id":"2ebf17c9bf8410e5","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"0dd6b5576f832c27","page":"","ui":"","name":"th3ChGaugeC2","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC2\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC2\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC2{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 55px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC2{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4760,"y":1280,"wires":[[]]},{"id":"6a251e3fa8279f50","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"0dd6b5576f832c27","page":"","ui":"","name":"th3ChGaugeC2F","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC2F\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC2F\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC2F{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 42px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC2F{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4750,"y":1360,"wires":[[]]},{"id":"0116ff9d37eb6fb2","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 191","links":["4b7963d0742c3114","9b541280800d2ea6"],"x":4485,"y":1280,"wires":[["cd92b8b8523d7540"]]},{"id":"c3de2633e87b75f8","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4645,"y":1280,"wires":[["2ebf17c9bf8410e5"]],"l":false},{"id":"cd92b8b8523d7540","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_2","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4535,"y":1280,"wires":[["c3de2633e87b75f8","4318d92dcac1923a"]],"l":false},{"id":"4318d92dcac1923a","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4585,"y":1320,"wires":[["76acba41ef2a25bc"]],"l":false},{"id":"76acba41ef2a25bc","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4625,"y":1360,"wires":[["6a251e3fa8279f50"]],"l":false},{"id":"ec56779f298093d0","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 192","links":["c0cf694846b29bca"],"x":4485,"y":1360,"wires":[["c3de2633e87b75f8","76acba41ef2a25bc"]]},{"id":"f340ba119c947eb5","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"cdf4998ef2f33e82","order":1,"width":"4","height":"1","name":"th3ChTemperatureC3","label":"Channel - 3","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesTextC","x":5160,"y":1240,"wires":[]},{"id":"c0c77e617582e931","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"cdf4998ef2f33e82","page":"","ui":"","name":"th3ChGaugeC3","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC3\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#fb7936\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC3\">\n                {{ msg.scale }}\n                <br>\n                °C\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC3{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 55px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC3{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":5180,"y":1280,"wires":[[]]},{"id":"55d74842ea662e03","type":"ui-template","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"cdf4998ef2f33e82","page":"","ui":"","name":"th3ChGaugeC3F","order":2,"width":"2","height":"1","head":"","format":"<template>\n    <v-progress-circular class=\"th3ChGaugeC3F\" :rotate=\"180\" bg-color=\"#131313\" model-value=\"20\" :size=\"200\" :width=\"20\" color=\"#36ccff\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"#999999\" icon=\"mdi-thermometer\"></v-icon>\n                <br>\n            </div>\n            <div class=\"thScale3ChGaugeC3F\">\n                {{ msg.scale }}\n                <br>\n                °F\n                <br>\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.th3ChGaugeC3F{\n    font-size: 35px;\n    font-weight: bold !important;\n    left: 42px !important;\n    top: -40px;\n}\n.thScale3ChGaugeC3F{\n    color: white;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":5170,"y":1360,"wires":[[]]},{"id":"bbaf041d777faf63","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 193","links":["4b7963d0742c3114","9b541280800d2ea6"],"x":4925,"y":1280,"wires":[["b520ed0d1d7d18c9"]]},{"id":"8cc893f9ea2988f2","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-65","maxin":"750","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":5065,"y":1280,"wires":[["c0c77e617582e931"]],"l":false},{"id":"b520ed0d1d7d18c9","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.channel_3","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4975,"y":1280,"wires":[["8cc893f9ea2988f2","054aa36b9ff22e6c"]],"l":false},{"id":"054aa36b9ff22e6c","type":"change","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":5015,"y":1320,"wires":[["d40f0f17a42bd144"]],"l":false},{"id":"d40f0f17a42bd144","type":"range","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","minin":"-85","maxin":"1382","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":5045,"y":1360,"wires":[["55d74842ea662e03"]],"l":false},{"id":"6aa618388045377d","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 194","links":["c0cf694846b29bca"],"x":4925,"y":1360,"wires":[["8cc893f9ea2988f2","d40f0f17a42bd144"]]},{"id":"717cb679c9823bc7","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"8a1061fd491848be","name":"th2ChMainChart1","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"4","className":"th3ChMainCharts","x":5570,"y":1220,"wires":[[]]},{"id":"abdd4eef113e0927","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"8a1061fd491848be","order":1,"width":"0","height":"0","name":"th3ChTemperatureChartText1","label":"Channel 1 - History (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":5610,"y":1180,"wires":[]},{"id":"dc82e8c8c13d5ede","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"487f22cc9370d74e","name":"th3ChMainChart2","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"4","className":"th3ChMainCharts","x":5570,"y":1300,"wires":[[]]},{"id":"dd721fb5a44cbb9e","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"487f22cc9370d74e","order":1,"width":"0","height":"0","name":"th3ChTemperatureChartText2","label":"Channel 2 - History (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":5610,"y":1260,"wires":[]},{"id":"dc43c8d7324f9c40","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 195","links":["45327efd0dbd5541","9b541280800d2ea6"],"x":5395,"y":1220,"wires":[["8092708476575b0f"]]},{"id":"8092708476575b0f","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 57","func":"let celsius = msg.payload[0].channel_1\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":5445,"y":1220,"wires":[["717cb679c9823bc7"]],"l":false},{"id":"afcdc7ad05f5da2d","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 196","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":5445,"y":1180,"wires":[["717cb679c9823bc7"]]},{"id":"f851a56854a13a82","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 197","links":["45327efd0dbd5541","9b541280800d2ea6"],"x":5395,"y":1300,"wires":[["812c78cdfea1ad1e"]]},{"id":"812c78cdfea1ad1e","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 58","func":"let celsius = msg.payload[0].channel_2\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":5445,"y":1300,"wires":[["dc82e8c8c13d5ede"]],"l":false},{"id":"a4d34e20ee3e019b","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 198","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":5445,"y":1260,"wires":[["dc82e8c8c13d5ede"]]},{"id":"9dd96e7db6a58588","type":"ui-chart","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"7c09c2590d5a5b6c","name":"th3ChMainChart3","label":"","order":2,"chartType":"line","category":"[\"Celsius\", \"Fahrenheit\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"5","showLegend":true,"removeOlder":"1","removeOlderUnit":"3600","removeOlderPoints":"20","colors":["#fb7936","#48c4f9","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"8","height":"4","className":"th3ChMainCharts","x":5570,"y":1380,"wires":[[]]},{"id":"e48e6d94f3f6c6d5","type":"ui-text","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","group":"7c09c2590d5a5b6c","order":1,"width":"0","height":"0","name":"th3ChTemperatureChartText3","label":"Channel 3 - History (°C/°F)","format":"{{msg.payload}}","layout":"row-center","style":false,"font":"","fontSize":"15","color":"#ffffff","className":"thTitlesText","x":5610,"y":1340,"wires":[]},{"id":"215c782bcf901cce","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 199","links":["45327efd0dbd5541","9b541280800d2ea6"],"x":5395,"y":1380,"wires":[["5898677308487572"]]},{"id":"5898677308487572","type":"function","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"function 59","func":"let celsius = msg.payload[0].channel_3\nlet timestamp = msg.payload[0].Timestamp;\nlet fahrenheit = (celsius * 9/5) + 32;\nmsg.payload = [{\n    Celsius : celsius,\n    Fahrenheit : fahrenheit,\n    Timestamp: timestamp\n    }\n]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":5445,"y":1380,"wires":[["9dd96e7db6a58588"]],"l":false},{"id":"e9c8444ab11a41dd","type":"link in","z":"d92008bca04eb11f","g":"1bd4b8aa0fc8fad9","name":"link in 200","links":["c0cf694846b29bca","12d0fb4c7e34a96a"],"x":5445,"y":1340,"wires":[["9dd96e7db6a58588"]]},{"id":"4b7963d0742c3114","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 115","mode":"link","links":["d874c73397e0a7fc","6690285103acddf3","b1749dc2a8dc35a7","40f0f4fa02a6e7d5","0116ff9d37eb6fb2","bbaf041d777faf63"],"x":3765,"y":1340,"wires":[]},{"id":"8187b2bb94b66b5d","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 116","mode":"link","links":["9b4e8a77902c2f59","d874c73397e0a7fc","f15ad0d7c5ca2802","d9498b6c07e249f9"],"x":3835,"y":1120,"wires":[]},{"id":"45327efd0dbd5541","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"toGraphs","mode":"link","links":["d9498b6c07e249f9","9b4e8a77902c2f59","8959c21dcbcdb113","4516a42cbfb1312f","dc43c8d7324f9c40","f851a56854a13a82","215c782bcf901cce"],"x":3905,"y":1420,"wires":[]},{"id":"1dbbcd19132e38b2","type":"file in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":3285,"y":1360,"wires":[["711c5e3d68e0266c"]],"l":false},{"id":"711c5e3d68e0266c","type":"csv","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":3335,"y":1360,"wires":[["e13c4eff22eda1d3"]],"l":false},{"id":"017537387632f522","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":1200,"wires":[["547263b22b974b61"]]},{"id":"8e5611d2f34c2f6f","type":"csv","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":2815,"y":1160,"wires":[["122c1343a25e4027"]],"l":false},{"id":"122c1343a25e4027","type":"file","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2865,"y":1160,"wires":[["59bfeed6bfe526ef","4ca34d69eb9df267"]],"l":false},{"id":"59bfeed6bfe526ef","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = flow.get(\"thcountMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"thMAC[\"+index+\"]\")[0]; \n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n\nflow.set(\"thMAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); \ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \nflow.set(\"thcountMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3010,"y":1180,"wires":[["d52de4044cdb349a","5a757973d40e9273"]]},{"id":"d52de4044cdb349a","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"thMAC[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3250,"y":1200,"wires":[["69c6e36888f070b4","d772504c6cd2a397"]]},{"id":"2e06813b38411fb2","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2670,"y":1420,"wires":[["3dbebf1735cbac2b"]]},{"id":"69c6e36888f070b4","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"thmacSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":3520,"y":1200,"wires":[["8a4dcc8b713e0582"]]},{"id":"10a17a0e2370ebe5","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":1420,"wires":[["6ece9b51001c3f33"]]},{"id":"6ece9b51001c3f33","type":"json","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"json object","property":"payload.data","action":"","pretty":false,"x":3715,"y":1420,"wires":[["9113b34e600c970e"]],"l":false},{"id":"9113b34e600c970e","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3810,"y":1420,"wires":[["45327efd0dbd5541"]]},{"id":"547263b22b974b61","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2360,"y":1200,"wires":[["5f839f60667ce114"],["db9c41c13ef37ea8"],["393f6c01f2e33238"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"db9c41c13ef37ea8","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildUserFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2610,"y":1200,"wires":[["8e5611d2f34c2f6f"]]},{"id":"393f6c01f2e33238","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildUserFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1240,"wires":[["8e5611d2f34c2f6f"]]},{"id":"3dbebf1735cbac2b","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"win/lin?","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2850,"y":1420,"wires":[["c1440dab67e8be6c"],["057fbd87ab72fba6"]]},{"id":"c1440dab67e8be6c","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3030,"y":1400,"wires":[["3ec8280f09642874"]]},{"id":"057fbd87ab72fba6","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3040,"y":1440,"wires":[["3ec8280f09642874"]]},{"id":"bc0e391326a927a4","type":"catch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","scope":["122c1343a25e4027","1dbbcd19132e38b2"],"uncaught":false,"x":2875,"y":1080,"wires":[["5f839f60667ce114"]],"l":false},{"id":"5f839f60667ce114","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 50","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2945,"y":1100,"wires":[[]],"l":false},{"id":"4ca34d69eb9df267","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 51","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2945,"y":1140,"wires":[[]],"l":false},{"id":"b92719ae34af8f56","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":1930,"y":1160,"wires":[["b2f854044a28bb76"],["017537387632f522"]],"outputLabels":["defaultPath","userPath"]},{"id":"4fcf463f7aca0b15","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1100,"wires":[["7eb69419694b4792"]]},{"id":"b5cc5ad8be6273d4","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2140,"y":1140,"wires":[["515054214bc47567"]]},{"id":"515054214bc47567","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":1140,"wires":[["1f26a34626b945a6"]]},{"id":"7eb69419694b4792","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":1100,"wires":[["3d33fb0851f63211"]]},{"id":"c2dee66d34275304","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":1160,"wires":[["b92719ae34af8f56"]]},{"id":"3d33fb0851f63211","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":1100,"wires":[["76bdd2e722faad76"]]},{"id":"e90278478997e4ca","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1140,"wires":[["8e5611d2f34c2f6f"]]},{"id":"76bdd2e722faad76","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2640,"y":1100,"wires":[["8e5611d2f34c2f6f"]]},{"id":"1f26a34626b945a6","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":1140,"wires":[["e90278478997e4ca"]]},{"id":"0d22900d5285c62b","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2490,"y":1360,"wires":[["06f2681e27bfbe25","e3ac16bdb84e1d51"],["2e06813b38411fb2"]]},{"id":"932b8de9c7723a1d","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"userPath&MacSelection","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"thmacSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":1360,"wires":[["0d22900d5285c62b"]]},{"id":"e3ac16bdb84e1d51","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1300,"wires":[["6f77087f0ef556c4"]]},{"id":"06f2681e27bfbe25","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":2660,"y":1360,"wires":[["09b47c1970dd0101"]]},{"id":"09b47c1970dd0101","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2790,"y":1360,"wires":[["a235fbc6f7404977"]]},{"id":"6f77087f0ef556c4","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2790,"y":1300,"wires":[["470452656ad7f839"]]},{"id":"100d819d113be63b","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":1360,"wires":[["1dbbcd19132e38b2"]]},{"id":"58bee3a0324031db","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3150,"y":1300,"wires":[["1dbbcd19132e38b2"]]},{"id":"470452656ad7f839","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":1300,"wires":[["58bee3a0324031db"]]},{"id":"a235fbc6f7404977","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":1360,"wires":[["100d819d113be63b"]]},{"id":"e13c4eff22eda1d3","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":3450,"y":1360,"wires":[["e0716e4edcef9c51","860716a832a908b1"],["10a17a0e2370ebe5"]]},{"id":"2ad006a2294988a7","type":"catch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","scope":["6ece9b51001c3f33"],"uncaught":false,"x":3550,"y":1160,"wires":[[]]},{"id":"8a4dcc8b713e0582","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"function 52","func":"let inspect = flow.get(\"thInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3655,"y":1200,"wires":[["4b00b2801c60f79c"],["6fd47adcde483659"]],"l":false},{"id":"e0716e4edcef9c51","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3620,"y":1340,"wires":[["67be168ab2eba50b"]]},{"id":"860716a832a908b1","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3630,"y":1380,"wires":[["e266a4021ebe0794"]]},{"id":"67be168ab2eba50b","type":"json","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":3715,"y":1340,"wires":[["4b7963d0742c3114"]],"l":false},{"id":"f3d5a1a28d78e139","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"23","vt":"str"},{"t":"eq","v":"12","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":1520,"y":1180,"wires":[["896fcf581ef0cae6"],["c2dee66d34275304"],["c2dee66d34275304"],["dfc16cd2d9d5c922"]]},{"id":"dfc16cd2d9d5c922","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":1200,"wires":[["e74f0411c44c6d69"]]},{"id":"e74f0411c44c6d69","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 117","mode":"link","links":["6495d6dc235a5764"],"x":1885,"y":1200,"wires":[]},{"id":"6495d6dc235a5764","type":"link in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link in 177","links":["e74f0411c44c6d69"],"x":2945,"y":1060,"wires":[[]]},{"id":"d8edbbd6987378fe","type":"link in","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link in 178","links":["c0cf694846b29bca"],"x":1515,"y":1400,"wires":[["d772504c6cd2a397"]]},{"id":"4e911581a2e35cda","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"clearInspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1915,"y":1440,"wires":[["cc0226f553298130"]],"l":false},{"id":"cc0226f553298130","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 118","mode":"link","links":["a93cb5a17e7ad136","720cf7c9c6219e97","af91089fe91a2ba8","edca1f73e574a815"],"x":1965,"y":1440,"wires":[]},{"id":"6d2f777dad7e6865","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"inspectCheck","func":"let actualMAC = msg.payload;\nlet lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1800,"y":1380,"wires":[["1486bfc6ce4639b9","4e911581a2e35cda"]]},{"id":"e266a4021ebe0794","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 119","mode":"link","links":["f15ad0d7c5ca2802"],"x":3735,"y":1380,"wires":[]},{"id":"993e362472562ea5","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new NCD device with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3185,"y":1160,"wires":[["0b335ea6f7d8e767"]],"l":false},{"id":"d772504c6cd2a397","type":"ui-dropdown","z":"d92008bca04eb11f","g":"1ad35609a9341562","group":"75dd12dc18e1e333","name":"Select MAC","label":"MAC","tooltip":"","order":2,"width":"","height":"","passthru":false,"multiple":false,"options":[{"label":"0","value":"default","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"tlselectMAC","x":1630,"y":1380,"wires":[["6d2f777dad7e6865"]]},{"id":"0b335ea6f7d8e767","type":"ui-notification","z":"d92008bca04eb11f","g":"1ad35609a9341562","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":3290,"y":1160,"wires":[]},{"id":"5a757973d40e9273","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":3135,"y":1160,"wires":[["993e362472562ea5"]],"l":false},{"id":"6fd47adcde483659","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 120","mode":"link","links":["af91089fe91a2ba8","720cf7c9c6219e97","a93cb5a17e7ad136"],"x":3705,"y":1220,"wires":[]},{"id":"896fcf581ef0cae6","type":"change","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","rules":[{"t":"set","p":"data.sensor_data.channel_1","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"payload.channel_1","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"delete","p":"data.sensor_data.temperature","pt":"msg"},{"t":"delete","p":"payload.temperature","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1635,"y":1140,"wires":[["c2dee66d34275304"]],"l":false},{"id":"1486bfc6ce4639b9","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"typeOfSelectedMAC","func":"let count = flow.get(\"thcountMAC\");\nlet type = 0;\nfor (let index = 0; index < count; index++) {\n    if (msg.options[index] == msg.payload)\n    {\n        type = flow.get(\"thMAC[\"+index+\"]\")[1];\n    }\n}\nif(type == 4)\n{\n    flow.set(\"thtype\", 4)\n    flow.set(\"thflagType\", true)\n    return[msg, null, null];\n}\nif(type == 23)\n{\n    flow.set(\"thtype\", 23)\n    flow.set(\"thflagType\", false)\n    return[null, msg, null];\n}\nif (type == 12) {\n    flow.set(\"thtype\", 12)\n    flow.set(\"thflagType\", false)\n    return [null, null, msg];\n}\nelse\n{\n    node.error(\"Empty or incompatible ncd MAC device\", msg);\n}\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":1380,"wires":[["3afa66a483fa848f","932b8de9c7723a1d"],["b3529ed469892b0d","932b8de9c7723a1d"],["48ef7e72a6b0d640","932b8de9c7723a1d"]]},{"id":"3afa66a483fa848f","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"is type 4","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-thermocouple:thInspect1\",\n            \"ncd-thermocouple:thInspect2\",\n            \"ncd-thermocouple:thInspect3\",\n            \"ncd-thermocouple:th2ChTempGauge1\",\n            \"ncd-thermocouple:th2ChTempChart1\",\n            \"ncd-thermocouple:th2ChTempGauge2\",\n            \"ncd-thermocouple:th2ChTempChart2\",\n            \"ncd-thermocouple:th3ChTempGauge1\",\n            \"ncd-thermocouple:th3ChTempChart1\",\n            \"ncd-thermocouple:th3ChTempGauge2\",\n            \"ncd-thermocouple:th3ChTempChart2\",\n            \"ncd-thermocouple:th3ChTempGauge3\",\n            \"ncd-thermocouple:th3ChTempChart3\"\n        ],\n        show:\n        [\n            \"ncd-thermocouple:th1ChTempGauge\",\n            \"ncd-thermocouple:th1ChTempChart\",\n            \"ncd-thermocouple:thBatteryGauge\",\n            \"ncd-thermocouple:thBatteryChart\"\n\n        ],\n        enable:\n        [\n            \"ncd-thermocouple:thSelectMac\",\n            \"ncd-thermocouple:thDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":1400,"wires":[["e0f72538f15e12b2"]]},{"id":"b3529ed469892b0d","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"is type 23","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-thermocouple:thInspect1\",\n            \"ncd-thermocouple:thInspect2\",\n            \"ncd-thermocouple:thInspect3\",\n            \"ncd-thermocouple:th1ChTempGauge\",\n            \"ncd-thermocouple:th1ChTempChart\",\n            \"ncd-thermocouple:th3ChTempGauge1\",\n            \"ncd-thermocouple:th3ChTempChart1\",\n            \"ncd-thermocouple:th3ChTempGauge2\",\n            \"ncd-thermocouple:th3ChTempChart2\",\n            \"ncd-thermocouple:th3ChTempGauge3\",\n            \"ncd-thermocouple:th3ChTempChart3\"\n        ],\n        show:\n        [\n            \"ncd-thermocouple:th2ChTempGauge1\",\n            \"ncd-thermocouple:th2ChTempChart1\",\n            \"ncd-thermocouple:th2ChTempGauge2\",\n            \"ncd-thermocouple:th2ChTempChart2\",\n            \"ncd-thermocouple:thBatteryGauge\",\n            \"ncd-thermocouple:thBatteryChart\"\n        ],\n        enable:\n        [\n            \"ncd-thermocouple:thSelectMac\",\n            \"ncd-thermocouple:thDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":1440,"wires":[["e0f72538f15e12b2"]]},{"id":"48ef7e72a6b0d640","type":"function","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"is type 12","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-thermocouple:thInspect1\",\n            \"ncd-thermocouple:thInspect2\",\n            \"ncd-thermocouple:thInspect3\",\n            \"ncd-thermocouple:th1ChTempGauge\",\n            \"ncd-thermocouple:th1ChTempChart\",\n            \"ncd-thermocouple:th2ChTempGauge1\",\n            \"ncd-thermocouple:th2ChTempChart1\",\n            \"ncd-thermocouple:th2ChTempGauge2\",\n            \"ncd-thermocouple:th2ChTempChart2\"\n        ],\n        show:\n        [\n            \"ncd-thermocouple:th3ChTempGauge1\",\n            \"ncd-thermocouple:th3ChTempChart1\",\n            \"ncd-thermocouple:th3ChTempGauge2\",\n            \"ncd-thermocouple:th3ChTempChart2\",\n            \"ncd-thermocouple:th3ChTempGauge3\",\n            \"ncd-thermocouple:th3ChTempChart3\",\n            \"ncd-thermocouple:thBatteryGauge\",\n            \"ncd-thermocouple:thBatteryChart\"\n        ],\n        enable:\n        [\n            \"ncd-thermocouple:thSelectMac\",\n            \"ncd-thermocouple:thDownload\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2240,"y":1480,"wires":[["e0f72538f15e12b2"]]},{"id":"e0f72538f15e12b2","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 123","mode":"link","links":["4b42b1cd24ee889b"],"x":2335,"y":1440,"wires":[]},{"id":"4b00b2801c60f79c","type":"switch","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"12","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":3750,"y":1160,"wires":[["8187b2bb94b66b5d"],["f3d1c6bd0ac98589"],["9b541280800d2ea6"]]},{"id":"f3d1c6bd0ac98589","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 124","mode":"link","links":["9b4e8a77902c2f59","f15ad0d7c5ca2802","8959c21dcbcdb113","4516a42cbfb1312f","6690285103acddf3","b1749dc2a8dc35a7"],"x":3835,"y":1160,"wires":[]},{"id":"9b541280800d2ea6","type":"link out","z":"d92008bca04eb11f","g":"1ad35609a9341562","name":"link out 125","mode":"link","links":["9b4e8a77902c2f59","f15ad0d7c5ca2802","40f0f4fa02a6e7d5","0116ff9d37eb6fb2","bbaf041d777faf63","dc43c8d7324f9c40","f851a56854a13a82","215c782bcf901cce"],"x":3835,"y":1200,"wires":[]},{"id":"3ec8280f09642874","type":"junction","z":"d92008bca04eb11f","g":"1ad35609a9341562","x":3220,"y":1420,"wires":[["1dbbcd19132e38b2"]]},{"id":"b2f854044a28bb76","type":"junction","z":"d92008bca04eb11f","g":"1ad35609a9341562","x":2060,"y":1120,"wires":[["4fcf463f7aca0b15","b5cc5ad8be6273d4"]]},{"id":"b4db2ca48dd65b46","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5f8f21bdd4c107d7","c59a870d62b55e53","2cd5bf9b08b9a526","b2ce40774b6cb6b7","c695d84d0418bc90","5b6e63aa140289b9","7f491d0477a81e79","3dc70aa13e1375a2","e063f3e5c5f74c4d","4b6473999e286c92","687cbe034e41796d","c8316edf37425bec","2a6a72e2a7132084","e6d4c58dc9025629","eade5c94e5f98725","de08a066b0e3d7da","cb72e8deb2c2c4c3","7cea99bdffc9c49f"],"x":3974,"y":379,"w":1102,"h":222},{"id":"460953dc96060b48","type":"group","z":"d92008bca04eb11f","name":"","style":{"fill":"none","label":true},"nodes":["b759caeb85e368b7","7ebdb792f318a5dc","761dc5f24506fb85"],"x":4554,"y":279,"w":612,"h":82},{"id":"56527be957791d6c","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c8b7ded7a40d8c6a","21c65f58ea6913ee","275482dadd9e548d"],"x":4554,"y":179,"w":472,"h":82},{"id":"5edd2213c8316624","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ab30a761b0172a03","c112b1eb314ec8fb","9608ca02881b8d2f","92d8677b5e6fa1bf","d0a9cb2be1138c62","e1c7b07bc094accc","40e074ab323d7e23","c0cf694846b29bca","4b42b1cd24ee889b","c943de803dd8c936"],"x":3974,"y":159,"w":552,"h":202},{"id":"bf82dfbc17e80901","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["427f72e713f3b422","af91089fe91a2ba8","24926e799e831a6f","ad1b24b6d5b89e26","6d3ac2b8bfa50483","3afd62ed94821fad","6bbc39e1fa1e41ad","e655b63146ca066c","d2dac8e7084f234b","6d132fc44a9ffe66","219e15c4e6aad59b","720cf7c9c6219e97","2c8347459d2255d0","c6cbc1e19a4e5930","0b9860878e605c21","2eb03f0fadf75b41","d6b4c5b36a577a03","cb55e94626a51bd1","f90425dd1fa04045","a93cb5a17e7ad136","c23cee37c9ce2750","bdb2ea5b1fbf7660","9009862a681da4da","558b0819339188d9","cfb62fea9d3beaaa","d876eaa7ca6cc284","25408472b5c31603","4812c0f09de79d4e","389579aed0ef99ba","25b521a73bd50eed","a777479cea61d4fd","383856288292108d","b690b3c207191c05","ec656663f90b5f07","38b8d990be0efee6","b8fb2bde2d8848e6","0d8b95f3fb58bc88","608248cda8aa4d6e","210e7435eaee1386","b228a2b88a9bed5e","ac4da71d37717c93","ebcdda15bbcd51b8","471333df010b4039","010ca20d178749aa","7b49b4220b9f5388","96cceea19ef7d328","3c592136c54d19a6","753577e0965b1e3f","332a1fd8f87d6a0e","cbd3818a658cec0e"],"x":3974,"y":1459,"w":1072,"h":482},{"id":"1bd4b8aa0fc8fad9","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d874c73397e0a7fc","5482d83d4afbbeae","8a36cd182b91b9d2","f15ad0d7c5ca2802","7db152f132896984","f66f90e28763a925","617d95d512be2351","edca1f73e574a815","43a59a5ae9581298","9b4e8a77902c2f59","8dbec8e5511de9bc","b1e9ecc59eb07574","5b85f6df5d454f87","193436f9b9a898f0","d9498b6c07e249f9","12d0fb4c7e34a96a","f722f11bafca9bea","74a16cee8b6c1968","050a294b2e615586","54397ff1341c46b4","e6a7addf5380739d","ec6f59f1014b547e","17e0f1f8858a1668","ab94ad56d51a6c2d","02aa5ac24bcd7862","91f7d10b8276b7ec","826b7883d146eea9","27ff71ea19e4d98e","b41c7209a6afaaf2","2c946bb4e0a6ca2c","0166a84fdda0ff33","38bcc22f131dc6f0","23c00b60f1aa422f","7dc511b484dff266","08886e35bbb31d68","cb67fbca837e9216","e9e51d9428c37dab","8959c21dcbcdb113","9227213f01517b13","2254d5bf18f597ee","4516a42cbfb1312f","6be9e8072883f343","803287ecc16e57dd","6690285103acddf3","e7e8b3256fe2c029","0fc494faf29e2790","9afd4260e40e2697","3f874cc378d7f41c","f4c3ba3c6fe062df","b1749dc2a8dc35a7","68ca56b120ec5cd7","6f5b2c765f2125ea","0f408806b90aa506","74c6eaab60aecbf2","a01f2aedd38588f3","88ca098c70f90d47","495dce8f600886eb","96e0b97cb58b324a","40f0f4fa02a6e7d5","bccca2711e1a8a20","2b259f7bf2411d7b","33eededf68e8ecc2","691f446ca7b9db76","a7e2bb9fa3862e35","7ce9565496a7cbca","2ebf17c9bf8410e5","6a251e3fa8279f50","0116ff9d37eb6fb2","c3de2633e87b75f8","cd92b8b8523d7540","4318d92dcac1923a","76acba41ef2a25bc","ec56779f298093d0","f340ba119c947eb5","c0c77e617582e931","55d74842ea662e03","bbaf041d777faf63","8cc893f9ea2988f2","b520ed0d1d7d18c9","054aa36b9ff22e6c","d40f0f17a42bd144","6aa618388045377d","717cb679c9823bc7","abdd4eef113e0927","dc82e8c8c13d5ede","dd721fb5a44cbb9e","dc43c8d7324f9c40","8092708476575b0f","afcdc7ad05f5da2d","f851a56854a13a82","812c78cdfea1ad1e","a4d34e20ee3e019b","9dd96e7db6a58588","e48e6d94f3f6c6d5","215c782bcf901cce","5898677308487572","e9c8444ab11a41dd"],"x":3974,"y":619,"w":1792,"h":802},{"id":"1ad35609a9341562","type":"group","z":"d92008bca04eb11f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4b7963d0742c3114","8187b2bb94b66b5d","45327efd0dbd5541","1dbbcd19132e38b2","711c5e3d68e0266c","017537387632f522","8e5611d2f34c2f6f","122c1343a25e4027","59bfeed6bfe526ef","d52de4044cdb349a","2e06813b38411fb2","69c6e36888f070b4","10a17a0e2370ebe5","6ece9b51001c3f33","9113b34e600c970e","547263b22b974b61","db9c41c13ef37ea8","393f6c01f2e33238","3dbebf1735cbac2b","c1440dab67e8be6c","057fbd87ab72fba6","bc0e391326a927a4","5f839f60667ce114","4ca34d69eb9df267","b92719ae34af8f56","4fcf463f7aca0b15","b5cc5ad8be6273d4","515054214bc47567","7eb69419694b4792","c2dee66d34275304","3d33fb0851f63211","e90278478997e4ca","76bdd2e722faad76","1f26a34626b945a6","0d22900d5285c62b","932b8de9c7723a1d","e3ac16bdb84e1d51","06f2681e27bfbe25","09b47c1970dd0101","6f77087f0ef556c4","100d819d113be63b","58bee3a0324031db","470452656ad7f839","a235fbc6f7404977","e13c4eff22eda1d3","2ad006a2294988a7","8a4dcc8b713e0582","e0716e4edcef9c51","860716a832a908b1","67be168ab2eba50b","f3d5a1a28d78e139","dfc16cd2d9d5c922","e74f0411c44c6d69","6495d6dc235a5764","d8edbbd6987378fe","4e911581a2e35cda","cc0226f553298130","6d2f777dad7e6865","e266a4021ebe0794","993e362472562ea5","d772504c6cd2a397","0b335ea6f7d8e767","5a757973d40e9273","6fd47adcde483659","896fcf581ef0cae6","1486bfc6ce4639b9","3afa66a483fa848f","b3529ed469892b0d","48ef7e72a6b0d640","e0f72538f15e12b2","4b00b2801c60f79c","f3d1c6bd0ac98589","9b541280800d2ea6","3ec8280f09642874","b2f854044a28bb76"],"x":1414,"y":1019,"w":2532,"h":502},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"1a451c44f1097eb8","type":"ui-group","name":"thDownload","page":"3d3771463d89fbb8","width":"6","height":"1","order":1,"showTitle":false,"className":"thGroupDownload","visible":"true","disabled":"false"},{"id":"3d3771463d89fbb8","type":"ui-page","name":"ncd-thermocouple","ui":"ec459411017ddf37","path":"/thermocouple","icon":"mdi-thermometer","layout":"grid","theme":"e01eadf35316cb83","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"d264180de1592c68","type":"ui-group","name":"thInspect1","page":"3d3771463d89fbb8","width":"4","height":"1","order":17,"showTitle":false,"className":"thInspectGroup","visible":"true","disabled":"false"},{"id":"56d399280fade3f3","type":"ui-group","name":"thInspect2","page":"3d3771463d89fbb8","width":"4","height":"1","order":18,"showTitle":false,"className":"thInspectGroup","visible":"true","disabled":"false"},{"id":"72af08f32c651d31","type":"ui-group","name":"thInspect3","page":"3d3771463d89fbb8","width":"4","height":"1","order":19,"showTitle":false,"className":"thInspectGroup","visible":"true","disabled":"false"},{"id":"cf5948ef767a6f89","type":"ui-group","name":"th1ChTempChart","page":"3d3771463d89fbb8","width":"10","height":"1","order":14,"showTitle":false,"className":"th1ChTempChart","visible":"true","disabled":"false"},{"id":"7e9fecfd59b8c7fa","type":"ui-group","name":"thBatteryChart","page":"3d3771463d89fbb8","width":"10","height":"1","order":16,"showTitle":false,"className":"thBattGroups","visible":"true","disabled":"false"},{"id":"6498800242d02d49","type":"ui-group","name":"thBatteryGauge","page":"3d3771463d89fbb8","width":"2","height":"1","order":15,"showTitle":false,"className":"thBattGroups","visible":"true","disabled":"false"},{"id":"d20f02fddfd04a47","type":"ui-group","name":"th1ChTempGauge","page":"3d3771463d89fbb8","width":"2","height":"1","order":13,"showTitle":false,"className":"thGauges","visible":"true","disabled":"false"},{"id":"03a4fc7d9842eac5","type":"ui-group","name":"th2ChTempGauge1","page":"3d3771463d89fbb8","width":"4","height":"1","order":9,"showTitle":false,"className":"th2ChTempGroups","visible":"true","disabled":"false"},{"id":"1d3f5d3524b41b72","type":"ui-group","name":"th2ChTempGauge2","page":"3d3771463d89fbb8","width":"4","height":"1","order":11,"showTitle":false,"className":"th2ChTempGroups","visible":"true","disabled":"false"},{"id":"54877e3a31194038","type":"ui-group","name":"th2ChTempChart1","page":"3d3771463d89fbb8","width":"8","height":"1","order":10,"showTitle":false,"className":"th2ChTempGroups","visible":"true","disabled":"false"},{"id":"590ce7a61d3ecebf","type":"ui-group","name":"th2ChTempChart2","page":"3d3771463d89fbb8","width":"8","height":"1","order":12,"showTitle":false,"className":"th2ChTempGroups","visible":"true","disabled":"false"},{"id":"d62bed6e5da2e0bc","type":"ui-group","name":"th3ChTempGauge1","page":"3d3771463d89fbb8","width":"4","height":"1","order":3,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"0dd6b5576f832c27","type":"ui-group","name":"th3ChTempGauge2","page":"3d3771463d89fbb8","width":"4","height":"1","order":5,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"cdf4998ef2f33e82","type":"ui-group","name":"th3ChTempGauge3","page":"3d3771463d89fbb8","width":"4","height":"1","order":7,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"8a1061fd491848be","type":"ui-group","name":"th3ChTempChart1","page":"3d3771463d89fbb8","width":"8","height":"1","order":4,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"487f22cc9370d74e","type":"ui-group","name":"th3ChTempChart2","page":"3d3771463d89fbb8","width":"8","height":"1","order":6,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"7c09c2590d5a5b6c","type":"ui-group","name":"th3ChTempChart3","page":"3d3771463d89fbb8","width":"8","height":"1","order":8,"showTitle":false,"className":"th3ChTempGroups","visible":"true","disabled":"false"},{"id":"75dd12dc18e1e333","type":"ui-group","name":"thSelectMac","page":"3d3771463d89fbb8","width":"6","height":"1","order":2,"showTitle":false,"className":"thGroupSelectMac","visible":true,"disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"60df9cb6ecfa5f8d","type":"subflow:d92008bca04eb11f","z":"d03667228cb08896","name":"","x":1070,"y":1300,"wires":[]}]
